<IfModule mod_rewrite.c>
RewriteEngine On

# force https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ensure we direct to the index page
RewriteBase /goaccess
RewriteRule ^index\.php$ - [L]

# data.json is off limits
RewriteRule ^. index.php [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /goaccess/index.php [L]

</IfModule>

# BEGIN Password Protect
AuthType Basic
AuthName "GoAccess Protected Area"
AuthUserFile /var/www/html/goaccess/.htpasswd
Require valid-user
# END Password Protect

