<IfModule mod_rewrite.c>
RewriteEngine On

# ensure we direct to the index page
RewriteBase /logs

# dot files are off limits
RewriteRule ^\. - [L,F] 

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
</IfModule>

# BEGIN Password Protect
AuthType Basic
AuthName "Logs Protected Area"
AuthUserFile /var/www/html/logs/.htpasswd
Require valid-user
# END Password Protect

